@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Channels</h1>
    <div>
        @foreach (var user in Model) {
            <a class="channelItem" id="Title" asp-area="" asp-controller="Channel" asp-action="RemoveMember" asp-route-id=@ViewData["Channel"] asp-route-userName=@user><h3>@user</h3></a>
        }
    </div>
</div>
