body{
    background-color: var(--background-color);
    color: var(--font-color);
}

h1 {
    color: var(--secondary-color);
}

h4{
    color: var(--secondary-color); 
}

a {
    color: var(--primary-color);
}

:root[color-mode="light"] .light--hidden {
    display: none; 
}

:root[color-mode="dark"] .dark--hidden {
    display: none; 
}

:root[color-mode="light"] {
    --primary-color: red; 
    --secondary-color: black; /* h2 & h4 headings */ 
    --font-color: black; 
    --background-color: white;
}

:root[color-mode="dark"] {
    --primary-color: red; 
    --secondary-color: white; /* h2 & h4 headings */ 
    --font-color: white; 
    --background-color: black; 
}

container {width: 100%; margin-left: 15%; margin-right: 15%;}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1452px) {
    .container {
        max-width: 1360px;
    }
}