@page "/Register"
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="auth-form">
    <div class="content">
        <section>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="content">
                    <h1>@ViewData["Title"]</h1>
                </div>
                <div class="content">
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="content">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}