@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model 

@{
    ViewData["Title"] = "Map Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <iframe width="600" 
            height="450" 
            style="border:0" 
            loading="lazy" 
            allowfullscreen 
            src="https://www.google.com/maps/embed/v1/place?q=55.94584722222222N%203.1740472222222222W&key=AIzaSyBtN6zSCAPIyvKcVHC_NL3mvkq5w9zixqg">

    </iframe>

</div>

@section Scripts
{

}

