@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Login.Models.Map.MapModel

@{
    ViewData["Title"] = "Map Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <iframe width="600"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            src="@Model.Url">
    </iframe>
</div>

