@using Microsoft.AspNetCore.Identity
@using Login.Areas.Identity.Data

@inject SignInManager<LoginUser> SignInManager
@inject UserManager<LoginUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="navbar navbar-expand navbar-fixed-top border-bottom border-success">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h1>Camaio</h1></a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">following</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Channels</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Search
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Thread" asp-action="Create">
                        Post
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Notifications</a>
                </li>
            </ul>
            <span class="nar-item dropleft">
                <button class="imagebutton overflow-hidden mx-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="h-100 w-100" src="~/pictures/avatar.png">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <p class="mx-3">@UserManager.GetUserName(User)</p>
                    <a class="dropdown-item" id="manage" asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@UserManager.GetUserName(User)">Profile</a>
                    <a class="dropdown-item" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Settings</a>
                    <a class="dropdown-item" id="manage" asp-area="" asp-controller="Profile" asp-action="Scores">Scores</a>
                    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="dropdown-item">Log out</button>
                    </form>
                </div>
            </span>
        </div>
    </div>
}
else
{  
    <div class="navbar navbar-expand navbar-fixed-top border-bottom border-success">
        <a class="navbar-brand mr-auto" asp-area="" asp-controller="Home" asp-action="Index"><h1>Camaio</h1></a>
        <ul class="navbar-nav">
            @if (!ViewData["Title"].Equals("Log in"))
                    {
                        <li class="nav-item">
                            <a class="nav-link navbar-text" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                    }
            @if (!ViewData["Title"].Equals("Register"))
                    {
                        <li class="nav-item">
                            <a class="nav-link navbar-text" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        </li>
                    }
        </ul>
    </div>
}