@model Login.Models.AchievementModelList
@{
    ViewData["Title"] = "Achievements Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Progress</th>
                <th scope="col">Achieved</th>
                <th scope="col">When</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ach in Model.AchievementLists)
            {
                <tr>
                    <th>
                        <img src="@ach.Picture" alt="AchievementOne" style="width: 200px; height:200px;" />
                    </th>
                    <th>
                        @ach.Name
                    </th>
                    <td>
                        @ach.Description
                    </td>
                    <td>
                        [Achievements progression bar HERE]
                    </td>
                    <td>
                        [Achievements have it ?]
                    </td>
                    <td>
                        [Achievements date of getting it]
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>