@{
    ViewData["Title"] = "Achievements Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <table class="table">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Progress</th>
                <th scope="col">Achieved</th>
                <th scope="col">When</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    Image here
                </th>
                <th>
                    [Achievements Title HERE]
                </th>
                <td>
                    [Achievements description HERE]
                </td>
                <td>
                    [Achievements progression bar HERE]
                </td>
                <td>
                    [Achievements have it ?]
                </td>
                <td>
                    [Achievements date of getting it]
                </td>
            </tr>
        </tbody>
    </table>
