/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.userProfile {
    padding: 32px 0 64px 24px;

  
}
.user-profile{
    position: absolute;
    left: 32%;
}

#userProfileImage {
    display: inline-block;
    width: 500px;
    height:500px;
    background-color: #ddd;
    top: 10%;
    bottom: 100px;  
    background-color: green;
}

.avatar-picture{
    width: 15%;
    height: 15%; 
}

.col-md-4{
    top: 25px;
    width: 500px;
    height: 500px; 
}
.user-followers-info{
    margin-top: .6em;
    color: #81878b; }
    .user-followers-info li {
      width: 32%;
      text-align: center;
      display: inline-block;
      font-size: 1.5em;
      font-family: 'Lato';
      border-right: solid 1px #bdc3c7; }
      .user-followers-info li:last-child {
        border: none; }
        .user-followers-info li span {
        display: block;
        text-transform: uppercase;
        font-family: 'Quicksand';
        font-size: .5em;
        margin-top: .6em;
        font-weight:700;
}

.follow-button{
    margin: 1.5em auto 0 auto;
    background-color: #2589cc;
    width: 150px;
    color: white;
    font-size: 15px;
    font-family: "Lato";
    text-align: center;
    padding: .5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.follow-button:hover{
    background-color: #1d6ca1 ;
    cursor: pointer;
}

/*-----------------Start of 'Home Page' CSS---------------------------*/
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  




/*-----------------End of 'Home Page' CSS-----------------------------*/

/*-----------------Start of 'Privacy Page' CSS---------------------------*/

.h4 {
    color: green;
}

/*-----------------End of 'Privacy Page' CSS-----------------------------*/



/*-----------------Start of 'Login Page' CSS---------------------------*/

/*-----------------End of 'Login Page' CSS-----------------------------*/


/*-----------------Start of the 'Register Page' CSS---------------------*/

/*-----------------End of the 'Register Page' CSS-----------------------*/

/*-----------------Start of the 'Account' Page' CSS---------------------*/

.avatar-picture{
    position: absolute;
    left: 150px;
    width: 200px;
    height: 120px;
    border: 3px solid green;
}


/*-----------------End of the 'Account Page' CSS-----------------------*/



}