/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/*Shared styles*/

.overlaytext.button{
    
}

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}
.nav-item{
    color: black;
}
a:hover {
    outline: none;
    color:black;
    text-decoration: none;
    color: inherit;
}

.dropdown-menu{
    background-color: white;
}

.rel{
    position:relative;
}
.abs{
    position:absolute;
}

hr.headrule{
    margin-top: 1rem;
    width:98%;
    margin-bottom: 1rem;
    border: 0;
    border: 1px solid green;
}

.imagebutton{
    height:50px;
    width:50px;
    background: none;
    padding: 0;
    border: none;
}
.btn{
    padding: 0;
    outline: none;
    background: none;
    border: 0;
}

.btn-link{
    max-height:60px;
    max-width:60px;
    padding: 0;
    border: none;
    background: none;
}

.content-box{
    width:600px;
    margin:auto;
    height:auto;
    background: #39603D;
    color:white;
    text-align:center;
    padding:10px;
    margin-top:20px;
    line-height: 1.6;
    vertical-align: auto;
}

.form-control{
    width:200px;
}



/* lists styling*/

/*

Made this commented to fix errors; Please be specific if you want
to change something used elsewhere!

ul {
    list-style-type: none;
}
  
li {
    float: left;
    list-style-type: none;
}
  
li a {
    display: block;
    color: white;
    text-decoration: none;
}

*/

/* Provide sufficient contrast against white background */
a {
    color: inherit;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
/*
.nav-pills, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
*/

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin: 0;
    margin-bottom: 60px;
    background-color: #fff;
    width:100%;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.userProfile {
    padding: 32px 0 64px 24px;

  
}
.user-profile{
    position: absolute;
    left: 32%;
}

#userProfileImage {
    display: inline-block;
    width: 500px;
    height:500px;
    background-color: #ddd;
    top: 10%;
    bottom: 100px;  
    background-color: white;
    transition: 1s;
}

.avatar-picture{
    width: 15%;
    height: 15%; 
}

.col-md-4{
    top: 25px;
    width: 500px;
    height: 500px; 
}
.user-followers-info{
    margin-top: .6em;
    color: #81878b; }
    .user-followers-info li {
      width: 32%;
      text-align: center;
      display: inline-block;
      font-size: 1.5em;
      font-family: 'Lato';
      border-right: solid 1px #bdc3c7; }
      .user-followers-info li:last-child {
        border: none; }
        .user-followers-info li span {
        display: block;
        text-transform: uppercase;
        font-family: 'Quicksand';
        font-size: .5em;
        margin-top: .6em;
        font-weight:700;
}

.follow-button{
    margin: 1.5em auto 0 auto;
    background-color: #2589cc;
    width: 150px;
    color: white;
    font-size: 15px;
    font-family: "Lato";
    text-align: center;
    padding: .5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}






/*-----------------Start of 'Home Page' CSS---------------------------*/
* {
    box-sizing: border-box;
  }
  

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
}
  
.image{
    width:100%;
}


.image-box:hover .overlay {
    height:80px;
    bottom: 0;
    left: 0;
    right: 0;
}

.image-box:hover .overlaytext {
    display: block;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0px;
    width: 100%;
    transition: .5s;
    background-color: greenyellow;
}

.overlaytext{
    position: absolute;
}


/*-----------------End of 'Home Page' CSS-----------------------------*/


/*-----------------Start of 'Upload Page' CSS -----------------------*/

.upload-form  {
    width: 100%;
    max-width: 40%;
    padding: 2.5% 10%;
    margin: 10% auto;
    background-color: #39603D;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: relative;
}


.upload-form .form-group {
    flex-direction: column;
    color: greenyellow;
}

.upload-form .form-control{
    width: 100%;
}

.upload-form .form-group{
    flex-direction: column;
    margin: 5% 0;
    text-align: center;
    color: greenyellow;
}

.upload-form h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    width: 100%;
}

.upload-form a {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: greenyellow;
}





/*-----------------End of 'Upload Page' CSS-----------------------------*/

/*-----------------Start of 'Top Posts Page' CSS -----------------------*/
#DIV_0 {
    width: 30%;
    border-color:#020202;
    border-style: solid;
    border-width: 1px;
    float: right;
    text-align: bottom;   
    background-color: dd; 
    border-radius: 1%; 
    height:525px; 
   
  }
  
  #DIV_1 {
    height: 66%; 
    background-color: blu;  
  }

  #DIV_2 {
    height: 12%; 
    border-top: #020202;
    border-top-style: solid;
    border-top-width: 1px;
    background-color: yello;
    text-align: center;
  }

  #DIV_5 {
    height: 10%;
    bottom:100%;
    background-color: pin;
    border-top: #020202;
    border-top-style: solid;
    border-top-width: 1px;
  }

  #DIV_5 > .buttons{
      position: relative;
      top:25%; 
      background-color: gree;
  }
  
  #DIV_3{
    width: 750px;
    height: 520px;
    overflow: hidden;
    margin: 10px;
    position: relative; 
    background-color: orang;
  }


  /*
  #DIV_3 {
    float: left;
    height: 100%;
    width: 69%; 
    background-color: gree;
  }
  */ 

  #DIV_4 {
    width: 1%;
    background-color: purpl; 
  }

  #DIV_6 {
    background-color: orang; 
  }

.card-footer{

    border-radius: 25px;
    border-color: grey;
    border-width: 1px; 
    border-style: solid;
}

.top-score-column {
  float: left;
  width: 33.33%;
  padding: 0 10px;
  margin-top: 1%;
}
  
/* Remove extra left and right margins, due to padding */
.top-score-row {
    margin: 0 -5px;
    color: #020202;
}

  
/* Clear floats after the columns */
.top-score-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-score-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: white; 
    border-radius: 25px;
    border-color: grey;
    border-width: 1px; 
    border-style: solid;
    color: #020202;
}


.top-score-card-achieve {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: red; 
    border-radius: 25px;
    border-color: grey;
    border-width: 1px; 
    border-style: solid;
    color: #020202;
}
  
.top-score-card-display {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1%; 
    height:80%;
    width:75%;  
    align-items: center;
    background-color: #ededed; 
    border-radius: 2.5%;
    border-color: black;
    border-width: 1px; 
    border-style: solid;
    color: #020202;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:1%;
    margin-bottom: 1%;
}

.card-rl{
    float:right;
    width:100%;
    padding:15px;
    text-align: left; 
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    
}

.top-score-card:hover {
    background-color: #e6e6e6;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
}

.white-space{
    color: white;
}

.card-img{
    float:left;
    
}

.card-image{
    border-radius: 1%;
    border-style: solid;
    border-width: 1px;
}

.card-img > .card-description{
    
    
    text-align: bottom;
    width:50%; 
    height:50%; 
    float:top; 
    float:right;  
     
}
.card-img > .tester-{
    
    
    text-align: bottom;
    height:50%; 
    float:bottom; 

     
}

.card-img-right{
    height:100%; 

}

.card-img-top{
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    border-style: solid;
    border-width: 1px;
    border-radius: 1%;
}
/*

/* Responsive columns */
@media screen and (max-width: 600px) {
    .top-score-column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }


/*-----------------End of 'Top Posts' CSS-----------------------------*/


/*-----------------Start of 'Channels Page' CSS -----------------------*/

.createButton {
    width: 100%;
    border: 2px solid greenyellow; 
    background-color:green;
    transition-duration: 0.3s;
    color: white; 
}

.createButton:hover {
    width: 100%;
    border: 2px solid green; 
    background-color:greenyellow;
    color: green;
}

.createButton1 {
    width: 30%;
    border: 2px solid greenyellow; 
    background-color:green;
    transition-duration: 0.3s;
    color: white;
    text-decoration: none; 
}

.createButton1:hover {
    width: 30%;
    border: 2px solid green; 
    background-color:greenyellow;
    color: green;
    text-decoration: none;
}

.create-channel  {
    width: 100%;
    max-width: 40%;
    padding: 2.5% 10%;
    margin: 10% auto;
    background-color: #39603D;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: relative;
}

.create-channel .form-group {
    flex-direction: column;
    color: greenyellow;
    margin: 5% 0;
    text-align: center;
}

.create-channel .form-control{
    width: auto;
}

.create-channel h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    width: 100%;
}

.create-channel a {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: greenyellow;
}

.manage-channel .form-group{
    flex-direction: column;
    color: greenyellow;
    margin: 5% 0;
    text-align: center;
}

.manage-channel  {
    width: 100%;
    max-width: 40%;
    padding: 2.5% 10%;
    margin: 10% auto;
    background-color: #39603D;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: relative;
}

.manage-channel .form-control{
    width: auto;
}




/*-----------------End of 'Channels Page' CSS --------------------------*/ 

/*-----------------Start of 'Privacy Page' CSS---------------------------*/

.h1 {
    color: green;
}

/*-----------------End of 'Privacy Page' CSS-----------------------------*/



/*-----------------Start of 'Auth Form' CSS---------------------------*/

.auth-form {
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 50%;
    min-width: 275px;
    max-width: 400px;
    margin: 10% auto;
    background-color: #39603D;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: relative;
}

.auth-form .content {
    margin: 10% auto;
    flex-direction: column;
    color: white;
}

.auth-form .form-group {
    flex-direction: column;
    color: greenyellow;
}

.auth-form .form-control{
    width: 100%;
}

.auth-form .submit-group{
    flex-direction: column;
    margin: 5% 0;
    text-align: center;
    color: greenyellow;
}

.auth-form h1 {
    color: white;
    font-size: 40px;
    text-align: center;
}

.auth-form a {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: greenyellow;
}

.auth-form .btn-primary {
    width: 100%;
    border: 2px solid greenyellow; 
    background-color:green;
    transition-duration: 0.3s;
}

.auth-form .btn-primary:hover {
    width: 100%;
    border: 2px solid green; 
    background-color:greenyellow;
    color: green;
}
  
/*-----------------End of 'Auth Form' CSS-----------------------------*/

/*-----------------Start of the 'Account' Page' CSS---------------------*/

.avatar-picture{
    width:125px;
    height:auto;
    margin: 0 auto;
    margin-top:40px;
}

.col1{
    max-width:220px;
}


.account-button{
    border-radius: 25px;
}

.profile-link{
    border: 1px;
    border-radius:2px;
    margin:10px;
}

.image-box.profile{
    width:200px;
    height:100%;
    border-radius: 2px;
}

.picture.profile{
    height:200px;
    width:auto;
    background-color: lightgreen;
    overflow:hidden;
}

#toggleDIV1, #toggleDIV2, #toggleDIV3{
    display: none;
}

/*-----------------End of the 'Account Page' CSS-----------------------*/

