@using Microsoft.AspNetCore.Identity
@using Login.Areas.Identity.Data
@inject SignInManager<LoginUser> SignInManager
@inject UserManager<LoginUser> UserManager
@{
    ViewData["Title"] = "Construction Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Camaio - A university driven project made by students providing a social media platform without any human in the pictures. " />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>@ViewData["Title"] Camaio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<p>Under Construction</p>
</body>
</html>