@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Camaio</h1>
<div>     

@*<div class="row"> 

<div class="column">
    <img src="../../pictures/img1.jpg" style="width:100%">
    <img src="../pictures/img2.jpg" style="width:100%">
    <img src="/pictures/img3.jpg" style="width:100%">
    <img src="/pictures/img4.jpg" style="width:100%">
</div>

<div class="column">
    <img src="pictures/img5.jpg" style="width:100%">
    <img src="/pictures/img14.jpg" style="width:100%">
    <img src="/pictures/img7.jpg" style="width:100%">
    <img src="/pictures/img8.jpg" style="width:100%">
</div>

<div class="column">
    <img src="pictures/img9.jpg" style="width:100%">
    <img src="/pictures/img10.jpg" style="width:100%">
    <img src="/pictures/img11.jpg" style="width:100%">
    <img src="/pictures/img12.jpg" style="width:100%">
</div>

<div class="column">
    <img src="pictures/img13.jpg" style="width:100%">
    <img src="/pictures/img6.jpg" style="width:100%">
    <img src="/pictures/img15.jpg" style="width:100%">
    <img src="/pictures/img16.jpg" style="width:100%">
</div>

</div> *@

 

