@model  Login.Models.Threadl.ThreadList
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height:80px;"></div>   
<div class="container-fluid d-flex flex-row">
    @foreach (var thread in Model.ThreadLists)
    {
        //if there is no picture, dont display
        @if (thread.Picture == null) continue;

        //otherwise loops through the db and displays it
        <div class="col-md-3 col-sm-6">
            <a asp-action="Index" asp-controller="Thread" asp-route-id="@thread.Id">
               <img class="image" src="@thread.Picture" alt="Image"/>
            </a>
            <div class="middle">
                <p>@thread.Title 
                    hello
                </p>
            </div>
        </div>
    }
</div>
