@model  Login.Models.Threadl.ThreadList
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex flex-wrap flex-row container-fluid">
    <div class="col-md-3 col-sm-6 p-0 m-0" id="column-one">
    </div>
    <div class="col-md-3 col-sm-6 p-0 m-0" id="column-two">
    </div>
    <div class="col-md-3 col-sm-6 p-0 m-0" id="column-three">
    </div>
    <div class="col-md-3 col-sm-6 p-0 m-0" id="column-four">
    </div>
</div>
@foreach (var thread in Model.ThreadLists)
{
    //if there is no picture, dont display
    @if (thread.Picture == null) continue;
    <div class="image-box m-1">
        <a asp-action="Index" asp-controller="Thread" asp-route-id="@thread.Id">
            <img class="image rounded-top" src="@thread.Picture" alt="Image"/>
        </a>
        <div class="overlay w-100">
            <p class="overlaytext"></p>
        </div>
    </div>
}