@using Microsoft.AspNetCore.Identity
@using Login.Areas.Identity.Data
@model Login.Models.ApplicationUser.ProfileModel

@inject SignInManager<LoginUser> SignInManager
@inject UserManager<LoginUser> UserManager
<header>
    <h1 style="text-align:center"> @ViewData["Title"]</h1>
    <link rel="stylesheet" type="text/css" href="./css/site.css" media="screen" />

</header>

<div class="container">
    <div class="row userProfile">
        <div class="col-md-4">
            <div id="userProfileImage" style="background-image: url(@Model.ProfileImageUrl)"></div>
            @if (User.Identity.Name == Model.Username)
            {
                <form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="UploadProfileImage">
                    <div id="upload">
                        <label id="upload">
                            Browse<input type="file" id="file" name="file" style="display: none" />
                        </label>
                    </div>
                    <button type="submit" id="btn-profile">Submit</button>
                </form>
            }
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">
                    @UserManager.GetUserName(User)
                </div>
            </div>
        </div>
    </div>
</div>