<h1>Profile</h1>
<header>
    <h1 style="text-align:center"> @ViewData["Title"]</h1>
    <link rel="stylesheet" type="text/css" href="./css/site.css" media="screen" />

</header>

<div class="card-deck">
    <h1>Hello</h1>

</div>
