@using Microsoft.AspNetCore.Identity
@using Login.Areas.Identity.Data
@model Login.Models.ApplicationUser.ProfileModel

@{
    ViewData["Title"] = "Profile Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid d-flex flex-row">
    <div class="col-md-2 col-sm-12">
        <div class="row profilelinks">
            <ul class="nav flex-column">
                <li class="nav-item profile-link">
                    <a class="nav-link active" asp-area="" asp-controller="Profile" asp-action="Settings">Settings</a>
                </li>
                <li class="nav-item profile-link">
                    <a class="nav-link" asp-area="" asp-controller="Thread" asp-action="Create"> Upload</a>
                </li>
                <li class="nav-item profile-link">
                    <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="Following"> Following</a>
                </li>
            </ul>
        </div>

        <div class="row profilelinks other">

        </div>
    </div>

    <div class="col-md-10 col-sm-12">
        <p>My Posts</p>
        <div class="row">
            @foreach (var thread in Model.Threads)
                {
                    @if (thread.Picture == null) continue;
                    <div class="col-3">
                        <div class="image-box m-1 rel profile">
                            <a asp-action="Index" asp-controller="Thread" asp-route-id="@thread.Id">
                                <img class="image rounded" src="@thread.Picture" alt="Image"/>
                            </a>
                        </div>
                    </div>

                }
        </div>
        <p>My Channels</p>
        <div class="row">

        </div>

        <p>Following</p>
        <div class="row">
            

            
        </div>
        <p>Followers</p>
        <div class="row">
            @foreach (var item in Model.UsersFollowed)
            {
                //need to be able to retrieve user image and link from their ID
                @if (item == null) continue;
                <p>@item.Id, </p>
            }
        </div>
        
    </div>
        

</div>