@using Microsoft.AspNetCore.Identity
@using Login.Areas.Identity.Data
@model Login.Models.ApplicationUser.ProfileModel

@{
    ViewData["Title"] = "Profile Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid d-flex flex-row">
    <div class="col-md-2 col-sm-12">
        <div class="row profilelinks">
            <ul class="nav  flex-column w-100">
                <li class="nav-item active profile-link w-100">
                    <button class="btn nav-link active" onclick="">My Pictures</button>
                </li>
                <hr/>
                <li class="nav-item profile-link w-100">
                    <a class="nav-link active" asp-area="" asp-controller="Profile" asp-action="Settings">Settings</a>
                </li>
                <li class="nav-item profile-link w-100">
                    <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="Following"> Following</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="col-md-10 col-sm-12 mt-2">
        <p class="mt-2">My Posts</p>
        <div class="row profile">
            @foreach (var thread in @Model.Threads)
            {
                <div class="image-box m-1 profile">
                    <a asp-action="Index" asp-controller="Thread" asp-route-id="@thread.Id">
                        <img class="image rounded " src="@thread.Picture" alt="Image"/>
                    </a>
                </div>
            }
        </div>

        <p class="mt-2">My Channels</p>
        <div class="row profile">
            
        </div>

        <p class="mt-2">Following</p>
        <div class="row profile">
            
        </div>

        <p class="mt-2">Followers</p>
        <div class="row profile">
            
        </div>
        
    </div>
        

</div>