@using Microsoft.AspNetCore.Identity
@using Login.Areas.Identity.Data
@model Login.Models.ApplicationUser.ProfileModel

@{
    ViewData["Title"] = "Profile Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="col-md-3 col-sm-12">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">My pictures</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"> Upload</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9 col-sm-12"></div>

</div>