@model Login.Models.ApplicationUser.ProfileModelList
@{
    ViewData["Title"] = "Score Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center; margin-top:2%">Top Profiles</h1>
<div class="top-score-row">
    <br>
    @foreach (var users in Model.ProfileList){
        <div class="top-score-column">
            <div class="top-score-card">
                <a asp-action="Index" asp-controller="Profile" asp-route-username="@users.Username">
                    <h3>@users.Username</h3>
                </a>
                @if (users.ProfileImageUrl == null)
                {
                    <div>
                        No Image
                    </div>
                }
                else
                {
                    <img src="@users.ProfileImageUrl" alt="Image" style="width: 200px; height:200px;" />
                }
                <p>Rating: @users.UserRating</p>
            </div>
            <br>
        </div>          
    }
</div>





