@model Login.Models.Thread

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="auth-form p-2 d-flex flex-column">
    <div class="content">
        <h1>@ViewData["Title"] Thread</h1> 
    </div>
    

    </a>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="UserID" />
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control w-100" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control w-100" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div>
            <label class="control-label">Thread tags</label>
            <input type="tags" name="tags" placeholder="Separate tags with comas" value=@ViewData["Tags"]>
        </div>
        <img src="@Model.Image" class="w-100 h-auto" />
        <input asp-for="Image" type="hidden">
        <input asp-for="CreateDate" type="hidden">
        <input asp-for="Votes" type="hidden">
        <input asp-for="UserName" type="hidden">
        <input asp-for="AlbumId" type="hidden">
        <input asp-for="Lat" type="hidden">
        <input asp-for="Lng" type="hidden">
        <div class="form-group my-3">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        <a class="btn" asp-action="Index" asp-controller="Thread" asp-route-id="@Model.ID">Back</a>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}