@model Login.Models.Threadl.ThreadModel
<h1>Threads</h1>
<a class="nav-link text-dark" asp-area="" asp-controller="Thread" asp-action="Create">Create New Thread</a>
<div class="card-deck">
    <p>Title : @Model.Title</p>
    <p>Created : @Model.Created</p>
    <p>Description : @Model.Description</p>
    <div id="userProfileImage" style="background-image: url(@Model.Picture)"></div>  
</div>
