@model Login.Models.Threadl.ThreadModel
<h1>Threads</h1>
<a class="nav-link text-dark" asp-area="" asp-controller="Thread" asp-action="Create">Create New Thread</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Thread" asp-action="ThreadList">ThreadList</a>
<div class="card-deck">
    Title : @Model.Title
    Created : @Model.Created
    Description : @Model.Description
    Picture : @Model.Picture
</div>
