@model Login.Models.Threadl.ThreadList
<h1>Threads</h1>
<div class="card-deck">
    @foreach (var thread in Model.ThreadLists)
    {
         <div class="card">
            <img class="card-img-top" src="./download.svg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@thread.Title</h5>
                <p class="card-text">@thread.Description</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Uploaded 3 mins ago</small>
            </div>
        </div>
    }
</div>
