@model Login.Models.Threadl.ThreadList
@{
    ViewData["Title"] = "Score Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center; margin-top:2%">Top Posts</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Rating</th>
            <th scope="col">Created</th>
            <th scope="col">Picture</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var threads in Model.ThreadLists)
        {
            <tr>
                <th>
                    @threads.Title
                </th>
                <th>@threads.Rating</th>
                <td>@threads.Created</td>
                <td>
                    <img src="@threads.Picture" alt="Image" style="width: 200px; height:200px;" />
                </td>
            </tr>
        }
    </tbody>
</table>